<div id="sliderwrap">
    <div class="fotorama"  data-loop="true" data-autoplay="true">
        <img src="/images/homepage_crepe_citron.jpg">
        <img src="/images/homepage_cream_puffs.jpg">
        <img src="/images/homepage_crepe_passionfruit.jpg">
        <img src="/images/homepage_macaron_strawberry_raspberrymilk_matcha.jpg">
    </div>
</div>

<div id="about_section">
    <p id="about_para">Welcome to Rainy Daze Bakery! Opened by a pair of rain-lovers, Rainy Daze Bakery is designed to be a place where no one has to fear the rain. Featuring a cozy interior, an extensive bookshelf, light pastries, and warm beverages, Rainy Daze Bakery is the perfect place to curl up, with a book, a sweet, or a soothing cup of tea, whether you are trying to take refuge from the rain, or just find peace in rainy days. So come in and let the distant sounds of the rain lull you to tranquility.</p>

    <img src="/images/rainy_day.gif">
</div>
    
<div id="poem">
    <p>
    <h3>April Rain Song</h3>
    <h4>Langston Hughes</h4>
    Let the rain kiss you.<br>
    Let the rain beat upon your head with silver liquid drops.<br>
    Let the rain sing you a lullaby.<br>
    <br>
    The rain makes still pools on the sidewalk.<br>
    The rain makes running pools in the gutter.<br>
    The rain plays a little sleep-song on our roof at night—<br>
    <br>
    And I love the rain.<br>
    </p>
</div>